{
   margin:0;
   padding:0;
}

.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00ffff;
    font-size: large;
}

.cartao-imagem{
    width: 200px; 
    height: 260px;
}

.cartao-frente, .cartao-verso{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #a3f8f2; 
}

main{
    flex: 1;
}

.cabecalho-link{
    color: #00ffe5;
    text-decoration: none;
}

h1{
    color: #000000;
    font-size: 18px;
}

footer{
    background-color: #00f7ff;
padding: 15px 25px;
color: #000000
}